<div class="navbar">
  <ul class="container">
    <li class="nav-item" id="item-0">
      <img
        (click)="goToHomePage()"
        class="logo-image"
        src="../../../assets/images/logo.png"
      />
      <hr />
    </li>

    <li class="nav-item" id="item-1">
      <a
        class="nav-link go-to-home-page-navbar"
        routerLinkActive="active"
        [routerLink]="['/home']"
        (click)="goToHomePage()"
        >Home</a
      >
      <hr />
    </li>

    <li class="nav-item" id="item-2">
      <a
        class="nav-link go-to-today-tasks-navbar"
        routerLinkActive="active"
        [routerLink]="['/catalog']"
        (click)="goToCatalog()"
        >Catalog</a
      >
      <hr />
    </li>
    <li class="nav-item" id="item-3">
      <a
        class="nav-link add-task-navbar"
        routerLinkActive="active"
        [routerLink]="['/cart']"
        (click)="goToCart()"
        >Cart</a
      >
      <hr />
    </li>
    <li class="nav-item" id="item-3">
      <a
        class="nav-link add-task-navbar"
        routerLinkActive="active"
        [routerLink]="['/wishlist']"
        (click)="goToWishlist()"
        >Wishlist</a
      >
      <hr />
    </li>
    <li class="nav-item" id="item-5" *ngIf="isLoggedIn">
      <img
        alt="Log in"
        src="{{ avatarURL }}"
        class="avatar"
        (click)="goToProfilePage()"
      />
    </li>
  </ul>
</div>
