@import "../../../styles/global-colors";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Space Mono", monospace;
}

.container {
  background: url("..//../../assets/images/background-image-2.webp") no-repeat
    center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-self: center;
  background-color: $color-white;
  border-radius: 30px;
  max-height: 36rem;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.content-container::-webkit-scrollbar {
  display: none;
}

.total {
  padding: 2rem;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  background-color: $color-orange-2;
  color: $color-white;
  font-size: 30px;
  border: none;
  transition: 0.5s;
  padding: 1rem;
  border-radius: 30px;
  width: 30%;
}

.checkout-button:hover {
  background-color: $color-orange-1;
}
