<div class="container">
  <app-navigation-bar></app-navigation-bar>
  <div class="content-container">
    <img class="logo-image" src="../../../assets/images/logo.png" />
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        required
        placeholder="Email"
        type="email"
        formControlName="email"
      />
      <input
        required
        placeholder="Password"
        type="password"
        formControlName="password"
        minlength="6"
      />
      <p *ngIf="displayValidationMessage" class="validation-message red-text">
        All fields are mandatory!
      </p>
      <div *ngIf="isLoading" class="spinner">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <button type="submit" (click)="onSubmit()" *ngIf="!isLoading">
        Log me in
      </button>
    </form>

    <p>
      Go back to
      <span class="link-text" (click)="switchToSignUp()">Sign up</span>
    </p>
  </div>
</div>
