<div class="container">
  <app-navigation-bar class="navbar"></app-navigation-bar>
  <app-snack-bar-message
    class="sanckbar-message"
    [profileName]="profileName"
  ></app-snack-bar-message>
  <div class="content-container">
    <div *ngFor="let product of products">
      <app-product-card
        [productName]="product.name"
        [productIngredients]="product.ingredients"
        [productImage]="product.image"
        [productPrice]="product.price"
      ></app-product-card>
    </div>
  </div>
</div>
