<div *ngIf="isRemoved" class="snackbar-message">
  <app-snack-bar-message [isRemoveMessage]="isRemoved"></app-snack-bar-message>
</div>
<div class="container" *ngIf="!isRemoved">
  <img class="product-image" src="{{ productImage }}" />
  <div class="text-container">
    <div class="product-name">{{ productName }}</div>
    <div class="ingredients">
      {{ productIngredients | slice : 0 : 100 }}
    </div>
  </div>
  <div class="quantity-container">
    <div class="quantity-buttons">
      <button class="quantity" (click)="decreaseQuantity()">-</button>
      <input value="{{ quantity }}" type="number" min="0" max="10" />
      <button class="quantity" (click)="increaseQuantity()">+</button>
    </div>
    <p class="remove-button" (click)="removeItemFromCart()">Remove</p>
  </div>
  <div class="price-text">
    {{ quantity * productPrice | number : "1.2-2" }}RON
  </div>
</div>
